body {
    background-image: url('../img/web-logo.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.title {
    text-align:center;

    font-size:500%;


    font-family: 'Calligraffitti', cursive;

    /*




    font-family: 'Kranky', cursive;

    font-family: 'Mountains of Christmas', cursive;
    font-family: 'Titillium Web', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
        */
}

.subtitle {
    text-align: center;
}

.wrapper {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.gallery {
    display: table;
    margin: 0 auto;
    width: 690px;
}

.horizontal-spacer{
    height: 200px;
}

ul{
    list-style-type: none;
}


