
ul{
    list-style-type: none;
}

html {
    overflow-y: scroll;
}

.main {
    padding-top: 100px;
    padding-bottom: 120px;
    background: url('../img/web-logo.png');
    background-position: center center;
    /* The background will be inside the padding */
    background-origin: content-box;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.title {
    text-align:center;
    font-size:500%;
    font-family: 'Calligraffitti', cursive;
}


#title-image {
    display:block;
    margin:auto;
}

.subtitle {
    text-align: center;
    outline: none;
}

.subtitle hr{
    height: 2px;
    background-color: #e3e2e2;
    width: 600px;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
}

.subtitle:hover{
    color: #d7ef35;
}

.subtitle:hover > hr{
    background-color: #d7ef35;
}


.wrapper {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.accordion-content {
    background-color: rgba(215, 239, 53, 0.2);
    border: 2px solid #a1a1a1;
    padding: 10px 10px;
    border-radius: 5px;
}

.gallery {
    display: table;
    margin: 0 auto;
    width: 654px;
}

.gallery img{
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 3px;
    margin-right: 3px;

}

.horizontal-spacer{
    height: 200px;
}




