
ul{
    list-style-type: none;
}

html {
    overflow-y: scroll;
}

body {
    background-image: url('../img/web-logo.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.title {
    text-align:center;
    font-size:500%;
    font-family: 'Calligraffitti', cursive;
}

.subtitle {
    text-align: center;
}

.wrapper {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.gallery {
    display: table;
    margin: 0 auto;
    width: 690px;
}

.horizontal-spacer{
    height: 200px;
}

#title-image {
    display:block;
    margin:auto;
}

.accordion-content {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid #a1a1a1;
    padding: 10px 10px;
    border-radius: 5px;
}